
<link rel="stylesheet" href="update-packing.component.css">
<mat-drawer-container>
  
  <mat-drawer-content>
    
<div class="container">   
  <div [hidden]="submitted"> 
    <h1>Update Packing</h1>
      <form #packingForm="ngForm" (ngSubmit)="updatePacking(packingForm.value)"  >
        
      <div class="form-group">
        <label id="label">Packing</label>
        <select class="form-control" id="id" [(ngModel)]="packing.id" required #id="ngModel" name="id" (change)="getPackingById(id.value)">
          <option value=""disabled selected=" true">Select the Packing</option>
          <option *ngFor= "let p of packings" [ngValue]="p.id" id="option">{{p.truckPlate}} - {{p.deliveryId}}</option>
      </select>
      </div>
        <div class="form-group">
          <label> Truck Plate</label>
          <input disabled type="text" ngModel class="form-control" name="truckPlate" [(ngModel)]="selectedPacking.truckPlate">
          
        </div>

        <div class="form-group">
            <label for="name">Delivery Id</label>
            <input disabled type="text" ngModel class="form-control" name="deliveryId"[(ngModel)]="selectedPacking.deliveryId">
        </div>

        <div class="form-group">
          <label for="name">Position X</label>
          <input required #positionX = "ngModel" type="number" ngModel class="form-control" name="positionX" [(ngModel)]="selectedPacking.position.positionX" id="positionX">
          <div
            *ngIf= "positionX.invalid && positionX.touched"  class="alert alert-danger"> Position X is required
          </div>
        </div>

      <div class="form-group">
        <label for="name">Position Y</label>
        <input required #positionY = "ngModel" type="number" ngModel class="form-control" name="positionY" [(ngModel)]="selectedPacking.position.positionY" id="positionY">
        <div
          *ngIf= "positionY.invalid && positionY.touched"  class="alert alert-danger"> Position Y is required
        </div>
      </div>

      <div class="form-group">
      <label for="name">Position Z</label>
      <input required #positionZ = "ngModel" type="number" ngModel class="form-control" name="positionZ" [(ngModel)]="selectedPacking.position.positionZ" id="positionZ">
      <div
        *ngIf= "positionZ.invalid && positionZ.touched"  class="alert alert-danger"> Position Z is required
       </div>
  </div>

    <button [disabled] = "packingForm.invalid" type = "submit" class="btn btn-outline-dark my-2 my-sm-0" style="margin-top: 500px;" id="submit">Update</button>
    <label for="name" id="result" [hidden]="!error" class="errormsg">&#9888; {{message}} &#9888;</label>
  </form> 
</div>

<div [hidden]="!submitted">
  <h2>Packing was updated!</h2>
  <table class = "table" style = "margin-top: 2%;">
      <thead>
      <tr>
          <th>Truck Plate</th>
          <th>Delivery Id</th>
          <th>Position X</th>
          <th>Position Y</th>
          <th>Position Z</th>
      </tr>
      </thead>
      <tbody>
              <td>{{packing.truckPlate}}</td>
              <td>{{packing.deliveryId}}</td>
              <td>{{packing.position.positionX}}</td>
              <td>{{packing.position.positionY}}</td>
              <td>{{packing.position.positionZ}}</td>
      </tbody>
  </table>
  <button type="reset" class="btn btn-outline-dark my-2 my-sm-0" style="margin-top: 500px;" (click)="error = false; submitted = false; packingForm.reset(); ngOnInit()">OK!</button>
</div>

</div>


  </mat-drawer-content>
</mat-drawer-container>


