
.container {
    text-align: left;
}

h1{
    text-align: center;
    font-family:'Source Sans Pro', sans-serif;
    margin-bottom: 2%;
}

label{
    font-weight: bold;
    font-family:'Source Sans Pro', sans-serif;
}

button{
    margin-top: 50px;
    width: 100%;
}

.errormsg{
    margin-top: 2% ;
    width: 100%;
    border:1px solid red;
    font-size: 15px;
    text-align: center;
    font-family:'Source Sans Pro', sans-serif;
    border-radius: 5px;
}

.mat-button:hover{
	
	color: white;
	background-color: #c39d79;
	border: 1px solid white;
	transition: 0.25s;
}

.mat-button{
	border: 1px solid #666666;
    color: black;
}

.ng-template{
    width:30%;
    height:30%;
    border-radius: 10px;
}

